* {
    margin: 0;
    padding: 0;
}



.header{
    background-color: #1f2937;
    padding: 1em 8em;



}
.navbar{
    display: flex;
    justify-content: center;
    gap: 325px;
    padding-bottom: 30px;
    

}
.navbar ul{
    display: flex;
    gap: 10px;
    list-style-type: none;
    color: #f9faf8;

}

.navbar a{
    color: #E5E7Eb;
    text-decoration: none;
}
    
h1{
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}    


.title{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px  220px;

}

.title .title-left{
    display: flex;
    flex-direction: column;
    gap: 10px;
    
   
}


.title .title-right{
    flex-shrink: 0;
    width: 400px;
    
}

.image-right{
    display: flex;
    height: 215px;
    background-color: gray;
    align-items: center;
    justify-content: center;
}

.header-logo{
    font-size: 18px;
    color: #E5E7Eb;
}


button{
    width: 110px;
    height: 35px;
    border-radius: 8px;
    color: #E5E7Eb;
    background-color: #3882F6;
}


/* Info */

.info{
    text-align: center;
    padding: 50px;
}
h2{
    
    margin-bottom: 52px;
}

.container{
    display: flex;
    justify-content: center;
    gap: 52px;
    
  
}

.square{

    border-radius: 20px;
    width: 160px;
    height: 160px;
    outline: 5px solid #3882F6;
    margin-bottom: 10px;
 
    
}

.flex-wrap {
    max-width: 150px;
  }

  .text{
    font-size: 18px;
    color: #E5E7EB;
  }

  .quote{
      background-color: #E5E7Eb;
      display: flex;
      justify-content: center;
      flex-direction: column;
      padding: 100px 330px;


      
  }


  .quote em{
    font-size: 36px;
    color: #1F2937;
    font-weight: 100;
    font-style: italic;
    
  }
  .quote p{
      align-self: flex-end;
      font-size: 18px;

  }

/* Sign-up */

.sign-up{
    padding: 100px 250px;
}

.modal {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #3882F6;
    padding: 50px 100px;
    border-radius: 10px;

}

.modal-left p{
    color: #f9faf8;
    font-size: 18px;
}
.modal-button {
    width: 110px;
    height: 35px;
    border-radius: 8px;
    color: #E5E7Eb;
    background-color: #3882F6;
    border-color: #E5E7Eb;
    border: 2px solid;
}

.footer{
    display: flex;
    justify-content: center;
    padding: 40px 0px;
    background-color: #1f2937;
    color: #f9faf8;
    font-size: 18px;
    align-items: center;
}